{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}{% trans "Registration Activation Complete" %}{% endblock %}{% endblock %}


{% block "dialog-body" %}
  {% url "contact" as contact_url %}
  <p>{% trans "Your user account has been created. Please log in using your username and password." %}</p>
  {% blocktrans %}If you have any problems, please <a href="{{contact_url}}?subject=Lost activation code"> contact us</a>.{% endblocktrans %}
</p>
{% endblock %}

{% block "dialog-buttons" %}
  {% url "contact" as contact_url %}
  <a class="btn btn-default" href="{{ contact_url }}">{% trans "Contact Us" %}</a>
  <a class="btn btn-primary" href="{% url "auth_login" %}">{% trans "Login" %}</a>
{% endblock %}
