/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2014, Martin Owens <doctormo@gmail.com> */

.header .nav {
  border-bottom: 0px !important;
}

.profilebuttons {
  border-radius: 4px;
  background-color: #222;
  float: right;
  display: block;
  padding: 4px;
  line-height: 0px;
  max-width: 90px;
}

.profilebuttons img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin: 4px;
  border: medium none;
} 
.profilebuttons a > img:hover {
  box-shadow: 0px 0px 3px 2px #888;
}

#profile {
  background: #1c1c1c;
  background-image: linear-gradient(to bottom, #1A1A1A, #000);
  color: white;
  min-height: 128px;
  border-radius: 0px 0px 15px 15px;
  padding: 2%;
  margin: 0px 0px 20px;
  overflow: hidden;
  border-width: 1px 0px 0px;
  border-color: #333;
  border-style: dashed;
}

#profile #bio {
  width: 100%;
  margin: 0px;
  line-height:130%;
}

#profile #photo {
  margin: 5px 30px 5px 5px;
  max-width: 128px;
  max-height: 128px;
  border-radius: 10px;
  float: left;
}

#profile #badge {
  float: right;
  height: 128px;
  margin: 5px 5px 5px 30px;
}
#profile #badge img {
  max-width: 128px;
  max-height: 128px;
}

#profile h1 {
  margin: 0px;
  padding: 0px;
}
#profile h1#name {
  line-height: 40px;
  color: #DEDEDE;
}
#profile h1 span {
  font-size: 50%;
  margin-left: 8px;
  background-color: #DEDEDE;
  color: #000;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 6px 8px;
  vertical-align: middle;
  position: relative;
}
#profile h2 {
  border: 0px;
  color: white;
}
#profile #edit {
  background-color: #D55500;
}
#profile #edit:hover {
  box-shadow: 0px 0px 2px 2px #aaa;
  z-index: 1;
}
#profile #edit a {
  color: #FFF;
}
#profile #edit a:hover {
  text-decoration: none;
}

#right-sidebar progress {
  width: 100%;
}

#sessions li span {
  background-color: white !important;
}
#sessions li span > span { 
  overflow: hidden;
  margin-left: 5px;
}
#sessions .OS {
  background: url('../images/os.svg');
}
#sessions .BR {
  background: url('../images/browser.svg');
}
#sessions .gnu { background-position: -20px; }
#sessions .win { background-position: -40px; }
#sessions .osx { background-position: -60px; }
#sessions .and { background-position: -80px; }
#sessions .ios { background-position: -100px; }
#sessions .bsd { background-position: -120px; }
#sessions .ubu { background-position: -140px; }

#sessions .ff { background-position: -20px; }
#sessions .sf { background-position: -40px; }
#sessions .cr { background-position: -60px; }
#sessions .op { background-position: -80px; }
#sessions .ie { background-position: -100px; }

#paste textarea {
  display: inline-block;
  width: 95%;
  height: 1.5em;
  margin: 0px;
  line-height: 1.5em;
}
#paste input {
  margin: 0px;
  line-height: 1em;
  width: 100%;
}
