{% extends "base.html" %}

{% load cms_tags %}
{% load extras menu_tags %}
{% load i18n static %}

{% block rightheader %}{% endblock %}

{% block logo %}
  <a href="/"><img src="{% block logo-url %}{% static "images/inkscape-dev.svg" %}{% endblock %}"
     width="64" height="64" alt="Inkscape"/></a>
  <h1><a href="/" tabindex="-1">Developer</a></h1>
  <h2><a href="/" tabindex="-1">Vector to Better</a></h2>
{% endblock %}

{% block menu %}
  <div class="nav clearfix">
    <button id="menu-toggle"><div></div><div></div><div></div></button>
    <ul id="menu">{% show_menu_below_id "develop" 0 100 100 %}</ul>
  </div>
{% endblock %}

{% block supercontent %}
  <div id="content"{% block contentclasses %}{% endblock %}>
    {% include "breadcrumbs.html" %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}

  {% block footer %}
  {% endblock %}

